[Unit]
Description=Iti UPS battery monitoring
After=network.target
Requires=iti-lcd-server.service

[Service]
ExecStart=/usr/local/bin/bestool --log-timeless iti battery --watch 10sec --estimate --json --update-screen 220
Restart=always

[Install]
WantedBy=multi-user.target
