[Unit]
Description=Iti LCD display ZMQ server
After=network.target

[Service]
ExecStart=/usr/local/bin/bestool --log-timeless iti lcd serve
ExecStartPost=-/usr/local/bin/bestool --log-timeless iti lcd on
ExecStartPost=-/usr/local/bin/bestool --log-timeless iti lcd clear 0 0 0
ExecStop=-/usr/local/bin/bestool --log-timeless iti lcd clear 0 0 0
ExecStop=-/usr/local/bin/bestool --log-timeless iti lcd off
ExecStop=/usr/bin/kill -INT $MAINPID
ExecStop=/usr/bin/sleep 1
Restart=always

[Install]
WantedBy=multi-user.target
