[Unit]
Description=Iti core temperature monitoring
After=network.target
Requires=iti-lcd-server.service

[Service]
ExecStart=/usr/local/bin/bestool --log-timeless iti temperature --watch 10sec --json --update-screen 195
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
