[Unit]
Description=Iti local time display
After=network.target
Requires=iti-lcd-server.service

[Service]
ExecStart=/usr/local/bin/iti-localtime
Restart=always

[Install]
WantedBy=multi-user.target
