[Unit]
Description=Iti local addresses display
After=network.target
Requires=iti-lcd-server.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/iti-addresses
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
