[Unit]
Description=Iti cpu/memory display
After=network.target
Requires=iti-lcd-server.service

[Service]
ExecStart=/usr/local/bin/bestool --log-timeless iti sparks
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
