[Unit]
Description=Iti local addresses display
After=network.target
Requires=iti-lcd-server.service

[Service]
ExecStart=/usr/local/bin/iti-addresses
Restart=always

[Install]
WantedBy=multi-user.target
